################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/sharepoint.config
/test1.ps1
/.vs/VSWorkspaceState.json
/.vs/ProjectSettings.json
/.vs/eum-sites/v16/.suo
/.vs/eum-sites/v15/.suo
/.vs/eum-sites/config/applicationhost.config
/.vs/slnx.sqlite
