################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/UpdateSitesList/test3.ps1
/UpdateSitesList/test2.ps1
/UpdateSitesList/test1.ps1
/Test1.ps1
