<settings>
    <common>
        <sharePointOnline>true</sharePointOnline>
        <useMixedModeAuthentication>false</useMixedModeAuthentication>
    </common>
    <environments>
      <environment>
        <id>1</id>
        <name>DEV</name>
        <webApp>
          <adminSiteURL>https://tenant-admin.sharepoint.com</adminSiteURL>
          <url>https://tenant.sharepoint.com</url>
          <sitesListSiteCollectionPath>/sites/EUMSites1</sitesListSiteCollectionPath>
          <managedCredentials>tenant.sharepoint.com</managedCredentials>
        </webApp>
      </environment>
    </environments>
</settings>