<settings>
    <common>
        <sharePointOnline>true</sharePointOnline>
        <useMixedModeAuthentication>false</useMixedModeAuthentication>
        <siteLists>
            <siteListName>Sites</siteListName>
        </siteLists>
      <defaultEnvironment></defaultEnvironment>
    </common>
    <environments>
      <environment>
        <id>1</id>
        <name>Envision IT Dev</name>
        <webApp>
          <adminSiteURL>https://envisionitdev-admin.sharepoint.com</adminSiteURL>
          <url>https://envisionitdev.sharepoint.com</url>
          <sitesListSiteCollectionPath>/sites/EUMSites2</sitesListSiteCollectionPath>
          <managedCredentials>envisionitdev.sharepoint.com</managedCredentials>
        </webApp>
      </environment>
      <environment>
        <id>2</id>
        <name>Keith Dev</name>
        <webApp>
          <adminSiteURL>https://keithtuomi-admin.sharepoint.com</adminSiteURL>
          <url>https://keithtuomi.sharepoint.com</url>
          <sitesListSiteCollectionPath>/sites/ENV</sitesListSiteCollectionPath>
          <managedCredentials>keithtuomi.sharepoint.com</managedCredentials>
        </webApp>
      </environment>
    </environments>
</settings>