<settings>
  <common>
    <sharePointOnline>true</sharePointOnline>
    <useMixedModeAuthentication>false</useMixedModeAuthentication>
    <siteLists>
      <siteListName>Sites</siteListName>
    </siteLists>
    <defaultEnvironment></defaultEnvironment>
    <managedPaths>
      <path>/sites</path>
      <path>/teams</path>
    </managedPaths>
  </common>
  <environments>
    <environment>
      <id>1</id>
      <name>Sample Environment</name>
      <webApp>
        <url>https://sampleenvironment.sharepoint.com</url>
        <sitesListSiteCollectionPath>/sites/Landing</sitesListSiteCollectionPath>
        <managedCredentials>sampleenvironment.sharepoint.com</managedCredentials>
        <managedCredentialsType>UsernamePassword</managedCredentialsType>
        <siteCollectionAdministrator>admin@sampleenvironment.onmicrosoft.com</siteCollectionAdministrator>
      </webApp>
      <eumAPI>
        <url>https://sampleenvironment.eum.co</url>
        <managedCredentials>sampleenvironment.eum.co</managedCredentials>
        <managedCredentialsType>EUMClientIdSecret</managedCredentialsType>
        <domainFK>1</domainFK>
        <systemConfigurationFK>1</systemConfigurationFK>
      </eumAPI>
    </environment>
  </environments>
</settings>
